.Grey{
background-color: #777;

}

.Header{
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: white;
  text-align: center;
  width: 980px; 
  font-size: 18px;
  padding: 40px;

}


.section{
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: white;
  text-align: center;
  width: 495px; 
  font-size: 18px;
  margin: auto;
  padding: 40px 20px 40px;
  height: 260px;

  
 
}

.section2{

  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
  flex-grow: 1;
  margin-left: 20px;
  
  

}

.Article{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  background-color:#777;
  text-align: center;
  font-size: 18px; 
  padding: 20px 20px 20px 20px;
  line-height: 40px;
  border-color: #777;
  margin: auto;
  align-items: stretch;
  width: auto;
  

  
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: right;
  width: 1060px;

}


.flex2{
  justify-content: center;
}

.section3{
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: white;
  text-align: center; 
  font-size: 18px;
  margin: auto;
  padding: 40px 0px 30px 40px;
  line-height:0px ;
  margin-top: 10px;
}

h1,h2,h3{
  display: inline;
}

.section4{
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: white;
  text-align: center; 
  font-size: 18px;
  margin: auto;
  padding: 0px 20px 10px 20px;
 

}

.Max{
  max-width: 980px;
  text-align: center;
  margin: auto;
}
